.container {
  height: 100%;
  padding: var(--size-large-1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  padding-bottom: var(--size-regular);
  margin-bottom: var(--size-regular);
  border-bottom-width: var(--small-border-size);
  border-bottom-style: solid;
}

.user {
  display: flex;
  align-items: baseline;
  gap: var(--size-small-1);
}

.steps {
  width: 100%;
  max-width: var(--size-large-10);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--size-regular);
}
