.child {
  position: relative;
}

.child.loading::after {
  content: 'loading...';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--loading-background-color);
  opacity: 0.8;
}
