.step {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--size-regular);
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.header .completed {
  text-decoration: line-through;
}

.content {
  grid-column: 2 / 3;
}
