.app {
  height: 100%;
}

.container {
  width: 960px;
  max-width: 100%;
  padding: 1rem;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
}

hr {
  height: 0.125rem;
  border: none;
  border-radius: 0.125rem;
  margin: 1.5rem 0;
}

h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
}