.app {
  min-height: 100%;
}

.container {
  width: var(--size-large-13);
  max-width: 100%;
  padding: var(--size-large-1);
  margin: 0 auto;
}

.h1 {
  font-size: var(--size-large-3);
}

.hr {
  height: var(--size-small-5);
  border: none;
  border-radius: var(--border-radius-size);
  margin: var(--size-large-1) 0;
}

.h2 {
  font-size: var(--size-large-1);
  margin: var(--size-regular) 0;
}