.buttonLink {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  border-style: solid;
  border-width: var(--border-size);
  border-radius: var(--border-radius-size);
  border-color: currentColor;
  font-size: var(--size-regular);
  line-height: var(--line-height);
  font-family: 'Fira Code', monospace;
  padding: var(--size-small-4) var(--size-small-1);
  cursor: pointer;
  transition: var(--button-transition);
  background-color: var(--button-link-resting-background-color);
}

.buttonLink:hover {
  background-color: var(--button-link-hover-background-color);
}

.buttonLink:active {
  background-color: var(--button-link-active-background-color);
}

.externalIcon {
  margin-left: var(--size-small-3);
}
