.price {
  text-align: center;
  margin-bottom: var(--size-small-1);
}

.form {
  text-align: center;
}

.card {
  border-width: var(--small-border-size);
  border-style: solid;
  border-radius: var(--small-border-radius-size);
  padding: var(--size-small-2);
}

.cancel {
  margin-right: var(--size-small-1);
}

.error {
  margin-top: var(--size-small-1);
}
