.pre {
  white-space: pre;
  overflow-x: scroll;
}

.lineNumber {
  position: sticky;
  left: 0;
}

.cursor {
  border-left-style: solid;
  border-left-width: var(--size-small-6);
}

.victorMono {
  font-family: 'Victor Mono', 'Fira Code', monospace;
}
