.outerWrapper {
  --input-size: 1.5rem;
}

.inputsWrapper {
  display: flex;
  align-items: center;
}

.label {
  margin-right: 0.5rem;
}

.textInputWrapper {
  flex-grow: 1;
  display: flex;
}

.textInput {
  font-family: "Fira Code", monospace;
  font-size: 1rem;
  line-height: 1rem;
  border: none;
  border-bottom-width: 0.125rem;
  border-bottom-style: solid;
  padding: 0.125rem 0.25rem;
  background: none;
  height: var(--input-size);
  box-sizing: border-box;
  width: 0;
  flex-grow: 1;
}

.swatch {
  height: var(--input-size);
  width: var(--input-size);
  border-top-left-radius: 0.125rem;
  border-top-right-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.colorInput {
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

.help {
  font-size: 0.75rem;
  margin-top: 0.25rem;
}
