.tabContainer button {
  font-size: 1rem;
  font-family: 'Fira Code', monospace;
  padding: 0.25em 0.5em;
  border-width: 0.0625rem;
  border-style: solid;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.tabContainer button + button {
  margin-left: -0.0625rem;
}

.inputContainer {
  padding: 1rem;
  border-width: 0.0625rem;
  border-style: solid;
  margin-top: -0.0625rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
