@font-face {
  font-family: 'Fira Code';
  src: local('Fira Code'), url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/woff2/FiraCode-Regular.woff2) format('woff2');
  font-weight: 400;
}

html,
body,
#root {
  height: 100%;
  font-family: 'Fira Code', monospace;
  font-size: 16px;
  line-height: 1.2;
}

* {
  box-sizing: border-box;
}
