@font-face {
  font-family: 'Fira Code';
  src: local('Fira Code'), url(./FiraCode-Regular.woff2) format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Victor Mono';
  src: local('Victor Mono'), url(./VictorMono-Medium.woff2) format('woff2');
  font-weight: 400;
}

html,
body,
#root {
  --size-ratio: calc(5 / 7);
  --size-regular: 1rem;

  /*
    Until CSS has support for rounding numbers, these are precalculated as follows:
    for (let i = 1, ratio = 5/7; i <= 13; i++) { console.log(`--size-large-${i}: ${Math.round(16 / Math.pow(ratio, i))}px`); }
    for (let i = 1, ratio = 5/7; i <= 8; i++) { console.log(`--size-small-${i}: ${Math.round(16 * Math.pow(ratio, i))}px`); }
  */
  --size-large-1: 22px;
  --size-large-2: 31px;
  --size-large-3: 44px;
  --size-large-4: 61px;
  --size-large-5: 86px;
  --size-large-6: 120px;
  --size-large-7: 169px;
  --size-large-8: 236px;
  --size-large-9: 331px;
  --size-large-10: 463px;
  --size-large-11: 648px;
  --size-large-12: 907px;
  --size-large-13: 1270px;

  --size-small-1: 11px;
  --size-small-2: 8px;
  --size-small-3: 6px;
  --size-small-4: 4px;
  --size-small-5: 3px;
  --size-small-6: 2px;
  --size-small-7: 2px;
  --size-small-8: 1px;

  --border-size: var(--size-small-6);
  --small-border-size: var(--size-small-8);
  --large-border-size: var(--size-small-5);
  --border-radius-size: var(--size-small-3);
  --small-border-radius-size: var(--size-small-4);

  --font-size-small: var(--size-small-1);

  --line-height: calc(1 / var(--size-ratio));
  --line-height-large: calc(1 / var(--size-ratio) / var(--size-ratio));

  --button-transition: background-color 75ms ease;
  --notification-transition-time: 300ms;
  --notification-transition-function: ease-in-out;
  --notification-dismiss-transition: color 75ms ease;

  height: 100%;
  font-family: 'Fira Code', monospace;
  font-size: 16px;
  line-height: var(--line-height);
}

* {
  box-sizing: border-box;
}
