@font-face {
  font-family: 'Fira Code';
  src: local('Fira Code'), url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/woff2/FiraCode-Regular.woff2) format('woff2');
  font-weight: 400;
}

html,
body,
#root {
  --size-ratio: calc(5 / 7);
  --size-regular: 1rem;

  --size-large-1: calc(var(--size-regular) / var(--size-ratio));
  --size-large-2: calc(var(--size-large-1) / var(--size-ratio));
  --size-large-3: calc(var(--size-large-2) / var(--size-ratio));
  --size-large-4: calc(var(--size-large-3) / var(--size-ratio));
  --size-large-5: calc(var(--size-large-4) / var(--size-ratio));
  --size-large-6: calc(var(--size-large-5) / var(--size-ratio));
  --size-large-7: calc(var(--size-large-6) / var(--size-ratio));
  --size-large-8: calc(var(--size-large-7) / var(--size-ratio));
  --size-large-9: calc(var(--size-large-8) / var(--size-ratio));
  --size-large-10: calc(var(--size-large-9) / var(--size-ratio));
  --size-large-11: calc(var(--size-large-10) / var(--size-ratio));
  --size-large-12: calc(var(--size-large-11) / var(--size-ratio));
  --size-large-13: calc(var(--size-large-12) / var(--size-ratio));
  --size-large-14: calc(var(--size-large-13) / var(--size-ratio));
  --size-large-15: calc(var(--size-large-14) / var(--size-ratio));

  --size-small-1: calc(var(--size-regular) * var(--size-ratio));
  --size-small-2: calc(var(--size-small-1) * var(--size-ratio));
  --size-small-3: calc(var(--size-small-2) * var(--size-ratio));
  --size-small-4: calc(var(--size-small-3) * var(--size-ratio));
  --size-small-5: calc(var(--size-small-4) * var(--size-ratio));
  --size-small-6: calc(var(--size-small-5) * var(--size-ratio));
  --size-small-7: calc(var(--size-small-6) * var(--size-ratio));
  --size-small-8: calc(var(--size-small-7) * var(--size-ratio));

  --border-size: var(--size-small-6);
  --small-border-size: var(--size-small-8);
  --large-border-size: var(--size-small-5);
  --border-radius-size: var(--size-small-3);
  --small-border-radius-size: var(--size-small-4);

  --font-size-small: var(--size-small-1);
  
  --line-height: calc(1 / var(--size-ratio));

  --button-transition: background-color 75ms ease;
  --notification-transition-time: 300ms;
  --notification-transition-function: ease-in-out;
  --notification-dismiss-transition: color 75ms ease;

  height: 100%;
  font-family: 'Fira Code', monospace;
  font-size: 16px;
  line-height: var(--line-height);
}

* {
  box-sizing: border-box;
}
