.scrim {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  border-radius: var(--border-radius-size);
  border-width: var(--large-border-size);
  border-style: solid;
  width: var(--size-large-9);
  max-width: calc(100% - calc(var(--size-regular) * 2));
}

.body {
  padding: var(--size-regular);
}

.footer {
  border-top-width: var(--small-border-size);
  border-top-style: solid;
  padding: var(--size-regular);
  text-align: right;
}
