.main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--size-small-2);
  padding: var(--size-regular);
  max-width: 36rem;
}

.disclaimer {
  font-size: var(--size-small-1);
}
