.container {
  display: grid;
  gap: var(--size-small-1);
  grid-template-columns: repeat(3, 1fr);
  overflow-y: scroll;
  height: var(--size-large-11);
}

.title,
.featured {
  grid-column: 1 / 4;
}

.title {
  position: sticky;
  top: 0;
  padding: var(--size-small-1) 0;
}
