.container {
  border-width: var(--small-border-size);
  border-style: solid;
  border-radius: var(--small-border-radius-size);
  display: flex;
  flex-direction: column;
}

.hero,
.preview,
.preview svg {
  max-width: 100%;
  height: auto;
  border-top-left-radius: var(--small-border-radius-size);
  border-top-right-radius: var(--small-border-radius-size);
}

.content {
  padding: var(--size-small-1);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: var(--size-regular);
  flex-grow: 1;
}

.header.featured {
  text-align: center;
}

.title {
  font-size: var(--size-large-1);
}

.description {
  font-size: var(--size-small-1);
}

.rows {
  margin-bottom: var(--size-small-2);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-regular);
  flex-wrap: wrap;
  padding: var(--size-small-8) 0;
  line-height: var(--line-height-large);
  border-top-width: var(--small-border-size);
  border-top-style: solid;
}

.variant {
  display: flex;
  align-items: center;
}

.switchPreview {
  margin-left: var(--size-small-3);
}

.featuredSelect {
  text-align: center;
}
