.star,
.stargazers {
  padding: var(--size-small-3) var(--size-small-2);
  border-style: solid;
  border-width: var(--small-border-size);
  border-color: currentColor;
  font-size: var(--font-size-small);
  transition: var(--button-transition);
  background-color: var(--star-count-resting-background-color);
  text-decoration: none;
}

.star:hover,
.stargazers:hover {
  background-color: var(--star-count-hover-background-color);
}

.star:active,
.stargazers:active {
  background-color: var(--star-count-active-background-color);
}

.star {
  border-top-left-radius: var(--small-border-radius-size);
  border-bottom-left-radius: var(--small-border-radius-size);
}

.stargazers {
  border-top-right-radius: var(--small-border-radius-size);
  border-bottom-right-radius: var(--small-border-radius-size);
  margin-left: calc(var(--small-border-size) * -1);
}
