.input {
  font-family: 'Fira Code', monospace;
  font-size: var(--size-regular);
  line-height: var(--size-regular);
  padding: var(--size-small-2);
  border: var(--small-border-size) solid currentColor;
  border-radius: var(--small-border-radius-size);
  background: none;
  height: var(--input-size);
  box-sizing: border-box;
}

.input::placeholder {
  color: var(--input-placeholder-color);
}
