.scrim {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
}

.options {
  position: absolute;
  top: var(--size-large-1);
  right: var(--size-large-1);
  display: flex;
  align-items: center;
}

.variations {
  border-radius: var(--border-radius-size);
  padding: var(--size-small-4) var(--size-small-1);
  margin-right: var(--size-regular);
  border-style: solid;
  border-width: var(--border-size);
  display: flex;
  align-items: center;
}

.variation:not(:last-child) {
  margin-right: var(--size-large-1);
}
