@import "colors";

// General colors
@syntax-text-color: @shade6;
@syntax-cursor-color: @accent6;
@syntax-selection-color: @shade1;
@syntax-background-color: @shade0;

// Guide colors
@syntax-wrap-guide-color: @shade1;
@syntax-indent-guide-color: @shade4;
@syntax-invisible-character-color: @shade3;

// For find and replace markers
@syntax-result-marker-color: @shade5;
@syntax-result-marker-color-selected: @accent2;

// Gutter colors
@syntax-gutter-text-color: @shade6;
@syntax-gutter-text-color-selected: @syntax-gutter-text-color;
@syntax-gutter-background-color: @shade2;
@syntax-gutter-background-color-selected: @shade3;

// For git diff info. i.e. in the gutter
@syntax-color-renamed: @accent5;
@syntax-color-added: @accent3;
@syntax-color-modified: @accent2;
@syntax-color-removed: @accent0;
